<div class="flex align-items-center justify-content-center">
  <div class="col-12 md:col-6 lg:col-4">
    <p-card header="Réinitialisation du mot de passe" styleClass="mt-4">
      <div *ngIf="!resetSuccess">
        <p class="mb-4">Veuillez entrer votre nouveau mot de passe.</p>
        
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <div class="field mb-4">
            <label for="password" class="block">Nouveau mot de passe</label>
            <p-password id="password" formControlName="password" [toggleMask]="true" styleClass="w-full"
                      [ngClass]="{ 'ng-invalid ng-dirty': submitted && f['password'].errors }"
                      [feedback]="true"></p-password>
            <small *ngIf="submitted && f['password'].errors" class="p-error">
              <span *ngIf="f['password'].errors['required']">Mot de passe requis</span>
              <span *ngIf="f['password'].errors['minlength']">Minimum 6 caractères</span>
              <span *ngIf="f['password'].errors['maxlength']">Maximum 40 caractères</span>
            </small>
          </div>
          
          <div class="field mb-4">
            <label for="confirmPassword" class="block">Confirmer le mot de passe</label>
            <p-password id="confirmPassword" formControlName="confirmPassword" [toggleMask]="true" styleClass="w-full"
                      [ngClass]="{ 'ng-invalid ng-dirty': submitted && f['confirmPassword'].errors }"
                      [feedback]="false"></p-password>
            <small *ngIf="submitted && f['confirmPassword'].errors" class="p-error">
              <span *ngIf="f['confirmPassword'].errors['required']">Confirmation du mot de passe requise</span>
              <span *ngIf="f['confirmPassword'].errors['mustMatch']">Les mots de passe ne correspondent pas</span>
            </small>
          </div>
          
          <div class="flex justify-content-between">
            <button pButton type="submit" label="Réinitialiser" [loading]="loading" class="w-full"></button>
          </div>
        </form>
      </div>
      
      <div *ngIf="resetSuccess" class="text-center">
        <i class="pi pi-check-circle text-green-500" style="font-size: 3rem"></i>
        <h3>Réinitialisation réussie!</h3>
        <p class="mb-4">Votre mot de passe a été réinitialisé avec succès.</p>
        <button pButton type="button" label="Se connecter" (click)="goToLogin()" class="p-button-outlined"></button>
      </div>
    </p-card>
  </div>
</div> 